.buttonDesign {
    background-color: #039603;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.buttonDesign:hover{
    background-color: #028002;
}

.capitalize{
    text-transform: capitalize;
}

.white {
    color: white;
}